.bg-red {
    background-color: #db5461;
}

.bg-pink {
    background-color: #ffd9ce;
}

.bg-purple {
    background-color: #593c8f;
}

.bg-teal {
    background-color: #8ef9f3;
}

.bg-blue {
    background-color: #171738;
}
